* {
  font-family: monospace;
  /* font-size: 20px; */
  margin: 2px;
}

header {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  color: white;
  padding: 20px;
  background-color: rgb(233, 169, 97);
  padding-right: 45px;
}

.timer {
  display: none;
  flex-direction: column;
  font-size: 20px;
}
button {
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-end;
}
#return {
  display: none;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
}
